<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LOPWSAppServiceSOAPBinding">
          <security mode="Transport" />
        </binding>
        <binding name="LOPWSAppServiceSOAPBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wsuat.acxiom.com.cn/lop/wsappservice/LOPWSAppServiceSOAP"
        binding="basicHttpBinding" bindingConfiguration="LOPWSAppServiceSOAPBinding"
        contract="AcxiomUat.LOPWSAppServiceSOAP" name="LOPWSAppServiceSOAPImplPort" />
    </client>
  </system.serviceModel>
</configuration>